@media only screen and (min-width:1024px) {




body{
    font-family: Source Sans Pro;    
    margin: 0;
}    

.topo nav {
margin-bottom: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: rgb(0, 217, 255);
height: 50px;
align-items: center;

left: 0; position: fixed; right: 0; top: 0; bottom: 0;
}
.logo {
    height: 70px;
    margin-top: 0;
    
}

.nav {
    margin: 0 20px;
   text-decoration: none;
   color: white;
}
.nav:hover{
    color: darkgreen;

}

.p2 {
    
    word-spacing: 15px;
}
 .container{
  
  margin: 0;
  background-image: url(assets/recepcao.png);
  width: 100%;
  background-position: center;
  height:800px;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
 }
.divindiv h1 {
    margin-left: 15px;
    text-transform: uppercase;
    font-weight:initial;
    color: rgba(255, 255, 255, 0.849);
    word-spacing: 4px;
    font-size: 60px;
}

.textotitulo{
    
    
    margin: 70px 0; 
    min-width: 437px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}


.titulo{
   
    color: rgba(54, 54, 54, 0.829);
    font-size: 36px;
    text-align: center;
    width: 830px;
}
.texto{
    color: rgba(54, 54, 54, 0.829);
    text-align: center;
    font-size: 24px;
    width: 830px
}
.titulo2{
    letter-spacing: 2px;
    word-spacing: 4px;
    text-transform: uppercase;
    font-weight: 400;
    font-size:24px ;

}

.lista{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgba(54, 54, 54, 0.829);
    width: 600;
    font-size: 24px;    
}

.especialidades{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.imagens {
    margin: 0 45px;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 .img  {
    box-shadow: 0 0 1em;;
    margin: 0 10px;
    width: 100%;
    height: 100%;
   }
   .img1{
    text-decoration: none;
    color: rgba(54, 54, 54, 0.829);
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
   }
   .img2{
       width: 100%;
    }
   

.But達o{
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}
button {
    background-color:rgb(0, 217, 255) ;
    height: 60px;
    text-transform: uppercase;
    color: whitesmoke;
    border:none;
    font-size: 20px;
    padding:15px;
    
}

button:hover {
    background-color: teal;
    transform:scale(1.05);
    cursor:pointer;
}
iframe {
    width: 100%;
}
#Rodape {
    min-width: 857px;
    margin-top: 80px;
    width: 100%;
    background-color: rgb(46, 136, 101);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rodape p{
    text-align: center;
    color: cornsilk;
}
   }























@media only screen and (min-width:769px) and (max-width:1023px) {
    body{
        font-family: Source Sans Pro;    
        margin: 0;
    }    
    header{
        min-width: 836px;
    }
    .topo nav {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(0, 217, 255);
    height: 50px;
    align-items: center;
    
    left: 0; position: relative; right: 0; top: 0; bottom: 0;
    }
    .logo {
        height: 70px;
        margin-top: 0;
        
    }
    
    .nav {
        margin: 0 20px;
       text-decoration: none;
       color: white;
    }
    .nav:hover{
        color: darkgreen;
    
    }
    
    .p2 {
        
        word-spacing: 15px;
    }
     .container{
      
      margin: 0;
      background-image: url(assets/recepcao.png);
      width: 100%;
      background-position: center;
      height:800px;
      
      display: flex;
      justify-content: flex-start;
      align-items: center;
     }
    .divindiv h1 {
        margin-left: 15px;
        text-transform: uppercase;
        font-weight:initial;
        color: rgba(255, 255, 255, 0.849);
        word-spacing: 4px;
        font-size: 60px;
    }
    
    
    .textotitulo{
        
        
        margin: 70px 0; 
        min-width: 430px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        
        
    }
    
    
    .titulo{
       
        color: rgba(54, 54, 54, 0.829);
        font-size: 36px;
        text-align: center;
        
        min-width: 430px;
    }
    .texto{
        color: rgba(54, 54, 54, 0.829);
        text-align: center;
        font-size: 24px;
        
        min-width: 430px;
    }
    .titulo2{
        letter-spacing: 2px;
        word-spacing: 4px;
        text-transform: uppercase;
        font-weight: 400;
        font-size:24px ;
    
    }
    
    .lista{
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: rgba(54, 54, 54, 0.829);
        width: 600;
        font-size: 24px;    
    }
    
    .especialidades{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .imagens {
        margin: 0 45px;
        padding: 0 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
    }
     .img  {
        box-shadow: 0 0 1em;;
        margin: 15px 10px;
        max-width: 100%;
        height: 100%;
       }
       .img1{
        text-decoration: none;
        color: rgba(54, 54, 54, 0.829);
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
       }
       .img2{
           width: 100%;
       }
    
    .But達o{
        display: flex;
        justify-content: center;
        margin-top: 20px; 
    }
    button {
        background-color:rgb(0, 217, 255) ;
        height: 60px;
        text-transform: uppercase;
        color: whitesmoke;
        border:none;
        font-size: 20px;
        padding:15px;
        
    }
    
    button:hover {
        background-color: teal;
        transform:scale(1.05);
        cursor:pointer;
    }
    iframe {
        width: 100%;
    }
    #Rodape {
        margin-top: 80px;
        width: 100%;
        background-color: rgb(46, 136, 101);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .rodape p{
        text-align: center;
        color: cornsilk;

}
}

























@media only screen and (min-width:425px) and (max-width:768px) {
    body{
        font-family: Source Sans Pro;    
        margin: 0;
        
    }    
    header{
        min-width: 870px;
    }
    .topo nav {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(0, 217, 255);
    height: 50px;
    
    align-items: center;
    
    left: 0; position: relative; right: 0; top: 0; bottom: 0;
    }
    .logo {
        height: 70px;
        margin-top: 0;
        
    }
    
    .nav {
        margin: 0 40px;
       text-decoration: none;
       color: white;
       font-size: 20px;
       font-weight: 900;
       
    }
    .nav:hover{
        color: darkgreen;
    
    }
    
    .p2 {
        
        word-spacing: 15px;
    }
     .container{
      
      margin: 0;
      background-image: url(assets/recepcao.png);
      width: 100%;
      min-width: 425px;
      background-position: center;
      height: 970px;
      
      
      display: flex;
      justify-content: flex-start;
      align-items: center;
     }
    .divindiv h1 {
        margin-left: 15px;
        text-transform: uppercase;
        font-weight:initial;
        color: rgba(255, 255, 255, 0.849);
        word-spacing: 4px;
        font-size: 60px;
    }
    .conteudo{
        min-width: 870px;
    }
    
    
    
    .textotitulo{
        
        
        margin: 70px 0; 
        min-width: 430px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        
        
    }
    
    
    .titulo{
       
        color: rgba(54, 54, 54, 0.829);
        font-size: 36px;
        text-align: center;
        
        min-width: 430px;
    }
    .texto{
        color: rgba(54, 54, 54, 0.829);
        text-align: center;
        font-size: 24px;
        
        min-width: 430px;
    }
    .titulo2{
        letter-spacing: 2px;
        word-spacing: 4px;
        text-transform: uppercase;
        font-weight: 400;
        font-size:24px ;
    
    }
    
    .lista{
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: rgba(54, 54, 54, 0.829);
        width: 600;
        font-size: 24px;    
    }
    
    .especialidades{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .imagens {
        margin: 0 45px;
        padding: 0 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        
    }
     .img  {
        box-shadow: 0 0 1em;;
        margin: 15px 20px;
        max-width: 225px;
        height: 100%;
        min-width: 250px;
       }
       .img1{
        text-decoration: none;
        color: rgba(54, 54, 54, 0.829);
        text-align: center;
        text-transform: uppercase;
        font-size: 40px;
       }
      
       .img2{
           width: 100%;
       }
    
    .But達o{
        display: flex;
        justify-content: center;
        margin-top: 20px; 
    }
    button {
        background-color:rgb(0, 217, 255) ;
        height: 60px;
        text-transform: uppercase;
        color: whitesmoke;
        border:none;
        font-size: 20px;
        padding:15px;
        
    }
    
    button:hover {
        background-color: teal;
        transform:scale(1.05);
        cursor:pointer;
    }
    iframe {
        width: 100%;
    }
    #Rodape {
        min-width: 870px;
        margin-top: 80px;
        width: 100%;
        background-color: rgb(46, 136, 101);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .rodape p{
        font-size: 20px;
        text-align: center;
        color: cornsilk;}

}
















@media only screen and (max-width:424px){
    body{
        font-family: Source Sans Pro;    
        margin: 0;
        
    }    
    header{
        min-width: 870px;
    }
    .topo nav {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(0, 217, 255);
    height: auto;
    
    align-items: center;
    
    left: 0; position: relative; right: 0; top: 0; bottom: 0;
    flex-wrap: nowrap;
    }
    .logo {
        width: 100%;
        height: 70px;
        margin-top: 0;
        
    }
    
    .nav {
        margin: 0 40px;
       text-decoration: none;
       color: white;
       font-size: 30px;
       font-weight: 900;
       
    }
    .nav:hover{
        color: darkgreen;
    
    }
    
    .p2 {
        width: 810px;
        word-spacing: 100px;
        display: flex;
         border-top:ridge dimgray 1px;
        justify-content: space-between;
        
        
    }
     .container{
      
      margin: 0;
      background-image: url(assets/recepcao.png);
      width: 100%;
      min-width: 425px;
      background-position: center;
      height: 970px;
      
      
      display: flex;
      justify-content: flex-start;
      align-items: center;
     }
    .divindiv h1 {
        margin-left: 15px;
        text-transform: uppercase;
        font-weight:initial;
        color: rgba(255, 255, 255, 0.849);
        word-spacing: 4px;
        font-size: 60px;
    }
    .conteudo{
        min-width: 870px;
    }
    
    
    
    .textotitulo{
        
        
        margin: 70px 0; 
        width: 810px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        
        
    }
    
    
    .titulo{
       
        color: rgba(54, 54, 54, 0.829);
        font-size: 36px;
        text-align: center;
        
        min-width: 430px;
    }
    .texto{
        color: rgba(54, 54, 54, 0.829);
        text-align: center;
        font-size: 30px;
        
        min-width: 430px;
    }
    .titulo2{
        letter-spacing: 2px;
        word-spacing: 4px;
        text-transform: uppercase;
        font-weight: 400;
        font-size:24px ;
    
    }
    
    .lista{
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: rgba(54, 54, 54, 0.829);
        width: 810px;
        font-size: 30px;    
    }
    
    .especialidades{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .imagens {
        margin: 0 45px;
        padding: 0 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        
    }
     .img  {
        box-shadow: 0 0 1em;;
        margin: 15px 20px;
        
        height: 100%;
        min-width: 250px;
       }
       .img1{
        text-decoration: none;
        color: rgba(54, 54, 54, 0.829);
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
       }
       .img2{
           width: 100%;
       }
    
    .But達o{
        display: flex;
        justify-content: center;
        margin-top: 20px; 
    }
    button {
        background-color:rgb(0, 217, 255) ;
        height: 60px;
        text-transform: uppercase;
        color: whitesmoke;
        border:none;
        font-size: 20px;
        padding:15px;
        
    }
    
    button:hover {
        background-color: teal;
        transform:scale(1.05);
        cursor:pointer;
    }
    iframe {
        width: 100%;
    }
    #Rodape {
        min-width: 870px;
        margin-top: 80px;
        width: 100%;
        background-color: rgb(46, 136, 101);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .rodape p{
        font-size: 30px;
        text-align: center;
        color: cornsilk;}

}
